---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include navigation.html %}
  	{{ content }}
  	<script src='{{ site.baseurl }}/assets/app.js'></script>
    <script src='{{ site.baseurl }}/assets/smooth-scroll.polyfills.min.js'></script>
    <script  src="{{ site.baseurl }}/assets/index.js"></script>
    <script type='text/javascript' src='{{ site.baseurl }}/assets/jquery.particleground.js'></script>
   <script type='text/javascript' src='{{ site.baseurl }}/assets/demo.js'></script>
   <script src='{{ site.baseurl }}/assets/jquery.min.js'></script>

    </body>
</html>
